* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* General properties */
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: justify;
}

h1 {
  display: block;
  font-size: 2em;
  /* margin-block-end: 0.67em; */
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

li {
  padding: 0px 10px;
}

a {
  color: rgb(229, 226, 226);
  text-decoration: none;
  background-color: transparent;
}

footer {
  text-align: center;
  background-color: rgb(6, 56, 90);
  color: white;
  margin-bottom: 0;
  padding: 25px;
}
ul {
  list-style-type: none;
}

/* Custom classes */
.left-list {
  margin-right: auto;
  padding-top: 10px;
}
.nav-panel {
  width: 100%;
  background-color: rgb(9, 72, 114);
  color: rgb(229, 226, 226);
  font-weight: bold;
  font-size: large;
  padding: 15px 20px;
  position: fixed;
}

.circle-image {
  object-position: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px 20px rgba(90, 97, 102, 0.384);
}
.profile-image {
  vertical-align: middle;
  text-align: center;
  width: 50px;
  height: 50px;
  border: solid 2px gray;
  border-radius: 50%;
}

.cover-image {
  padding-top: 150px;
  padding-bottom: 50px;
  background: linear-gradient(rgb(255, 254, 254), transparent 80%),
    linear-gradient(to top, rgb(253, 253, 205), transparent 20%),
    url(../img/3715995_large.jpg.pagespeed.ce_.6kdxz1STWp.jpg) no-repeat
      center/cover;
}

.cover-content {
  padding-top: 50px;
  color: rgb(43, 40, 40);
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.main-title {
  font-size: 3.5em;
  text-shadow: -3px -1.5px 0.2px rgb(239, 237, 243);
}

.main-content {
  width: 87%;
  margin: 0 auto;
}

.first-block img,
.second-block img {
  margin: 0 10px;
  width: 30%;
  height: 30%;
  box-shadow: 0px 12px 18px 9.5px rgb(53 53 43 / 80%);
}

.columns img {
  margin: 12px 25px 1px;
  width: 70%;
  height: 30%;
  box-shadow: 0px 0px 26px 10.5px rgb(53 53 43 / 80%);
}

.plus-icon {
  background-color: white;
  position: fixed;
  bottom: 12%;
  right: 1em;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: solid white;
}

.first-block p,
.second-block p {
  line-height: 1.4;
  padding: 10px;
  text-align: justify;
  box-shadow: 0px 12px 18px 9.5px rgb(53 53 43 / 80%);
}
.columns p {
  text-align: justify;
  padding: 5%;
}
.columns h1 {
  text-align: center;
}

/* Flex positioning */
.nav-panel,
.left-list,
.right-list {
  display: flex;
  justify-content: space-around;
}
.nav-panel {
  flex-wrap: wrap;
}
.cover-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first-block,
.second-block {
  display: flex;
  flex-direction: row;
  margin: 8% 4% auto;
}

.second-block p {
  flex: -1;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
}

.three-columns {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: flex-start;
}
.columns {
  flex: 1 250px;
  flex-direction: column;
  padding: 10px;
  margin-top: 0;
  margin-bottom: auto;
  text-align: center;
}

/* pseudo classes */
:target {
  box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.4);
}

a:hover {
  font-style: italic;
  text-decoration: underline;
}

.circle-image:hover,
.profile-image:hover {
  box-shadow: 0px 0px 24px 10px rgba(0, 0, 0, 0.8);
}
